# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
.venv/
env/
.env

# Ignorar configuraciones locales
.DS_Store
*.log

# Ignorar archivos de VS Code
.vscode/

# Ignorar archivos de prueba temporales
*.save
